body {
  background: #f8f8f8;
  color: #000000;
}
body .container {
  background: white;
  padding: 15px 20px;
  max-width: 1200px;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 20px;
  max-width: 1200px;
  margin: 0 auto;
}
body header .nav-item {
  margin: 0 15px;
}
body header .btn {
  width: 120px;
}
body footer {
  padding-top: 20px;
  padding-bottom: 20px;
}
body main {
  padding: 20px 0;
  margin: 80px auto 0;
  min-height: 80vh;
}
body main .card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 0;
}
body main .card-wrapper .card-style {
  transition: 0.3s ease;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body main .card-wrapper .card-style .img {
  overflow: hidden;
}
body main .card-wrapper .card-style img, body main .card-wrapper .card-style button {
  transition: 0.3s ease;
}
body main .card-wrapper .card-style:hover {
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}
body main .card-wrapper .card-style:hover img {
  transform: scale(1.1);
}
body main .form {
  width: 600px;
  background: #F8F8F8;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  padding: 50px 100px;
  border-radius: 15px;
}
body main .form button {
  width: 150px;
  margin: auto;
}
body main .form .radios {
  display: flex;
  align-items: center;
}
body main .form .radios .form-check {
  margin-right: 15px;
}

/*# sourceMappingURL=main.css.map */
