body {
  background: #f8f8f8;
  color: #000000;

  .container {
    background: white;
    padding: 15px 20px;
    max-width: 1200px;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0px 20px;
    max-width: 1200px;
    margin: 0 auto;

    .nav-item {
      margin: 0 15px;
    }

    .btn {
      width: 120px;
    }
  }

  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  main {
    padding: 20px 0;
    margin: 80px auto 0;
    min-height: 80vh;

    .card-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px 0;

      .card-style {
        transition: 0.3s ease;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        .img {
        overflow: hidden;
        }

        img, button {
          transition: 0.3s ease;
        }

        &:hover {
          box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);

          img {
            transform: scale(1.1);
          }
        }
      }
    }
    .form {
      width: 600px;
      background: #F8F8F8;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      margin: 30px auto;
      padding: 50px 100px;
      border-radius: 15px;
      button {
        width: 150px;
        margin: auto;
      }
      .radios {
        display: flex;
        align-items: center;
        .form-check {
          margin-right: 15px;
        }
      }
    }
  }
}